In [2]:
import pandas as pd
import os
import re

In [3]:
#script to clean everything in agricultural data

directory = "agricultural_data"

#loop through data folder and open each file as csv. take name from disease code
df_list = []
title_list = []
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)

    # checking if it is a file
    if os.path.isfile(f):
        df = pd.read_excel(f)
        if filename != "main_crop_production.xlsx":
            df_list.append(df)
            title_list.append(filename)

NameError: name 'os' is not defined

In [4]:
title_list

['fruit_production.xlsx',
 'fruitbearing_vegetable_production.xlsx',
 'grain_production.xlsx',
 'spice_vegetable_production.xlsx',
 'leafy_vegetable_production.xlsx']

In [75]:
#save regions
regions = df_list[0]['By province']
regions[0] = 'Regions'
regions

0               Regions
1                 Total
2                 Seoul
3                 Busan
4                 Daegu
5               Incheon
6               Gwangju
7               Daejeon
8                 Ulsan
9                Sejong
10          Gyeonggi-do
11           Gangwon-do
12    Chungcheongbuk-do
13    Chungcheongnam-do
14         Jeollabuk-do
15         Jeollanam-do
16     Gyeongsangbuk-do
17     Gyeongsangnam-do
18              Jeju-do
Name: By province, dtype: object

In [32]:
filtered_list = []
for title, df in zip(title_list, df_list):
    if title != 'main_crop_production':
        
        pattern = r".*\.1$"
        filtered_cols = [col for col in df.columns if re.match(pattern, col)]
        filtered_df = df[filtered_cols]
        filtered_list.append(filtered_df)

   By province             2017            2017.1            2017.2  \
0  By province  Total:Area (ha)  Production (Ton)  Apples:Area (ha)
1        Total           166957           2357867             33601
2        Seoul               28               478                 0
3        Busan              413              1650                 3
4        Daegu             1176             10402                82

                          2017.3            2017.4                 2017.5  \
0  per 10a output (Kilo_Grammes)  Production (Ton)  Asian Pears:Area (ha)
1                           1623            545349                  10861
2                            327                 0                     18
3                            464                13                     39
4                           1620              1322                     17

                          2017.6            2017.7             2017.8  ...  \
0  per 10a output (Kilo_Grammes)  Production (Ton)  Peaches:Area (ha)  ...
1                           2447            265757              21030  ...
2                           2217               407                  0  ...
3                           1452               570                  6  ...
4                            779               129                270  ...

            2022.25          2022.26                        2022.27  \
0  Production (Ton)  Plums:Area (ha)  per 10a output (Kilo_Grammes)
1            114002             6664                            786
2                 0                0                              0
3               128                4                            575
4               369               57                            759

            2022.28    2022.29                     2022.30           2022.31  \
0  Production (Ton)  Area (ha)  per 10a output (kilograms)  Production (G/T)
1             52374       6392                         481             30727
2                 0          6                          57                 3
3                25         70                         262               184
4               433         56                         566               319

           2022.32                        2022.33           2022.34
0  Other:Area (ha)  per 10a output (Kilo_Grammes)  Production (Ton)
1            22131                            441             97510
2               23                            189                43
3              172                            166               285
4              265                            362               961

[5 rows x 205 columns]
   By province                                2017            2017.1  \
0  By province  Fruit-bearing Vegetables:Area (ha)  Production (Ton)
1        Total                               41943           1890612
2        Seoul                                   9               272
3        Busan                                 367             21162
4        Daegu                                 690             29885

                   2017.2            2017.3                         2017.4  \
0  Water Melons:Area (ha)  Production (Ton)  Water Melons(Field):Area (ha)
1                   12661            506471                           2726
2                       0                 4                              0
3                       4               126                              2
4                     294             11607                              0

                          2017.5            2017.6  \
0  per 10a output (Kilo_Grammes)  Production (Ton)
1                           3402             92736
2                           2434                 1
3                           2924                44
4                           3446                10

                               2017.7                         2017.8  ...  \
0  Water Melons(Greenhouse):Area (ha)  per 10a output (Kilo_Grammes)  ...
1                                9935                           4164  ...
2                                   0                           5063  ...
3                                   2                           3775  ...
4                                 294                           3949  ...

                         2022.40           2022.41             2022.42  \
0  per 10a output (Kilo_Grammes)  Production (Ton)  Tomatoes:Area (ha)
1                           5228            104788                6111
2                           4906                21                   9
3                           5758               180                 563
4                           9575               692                  43

            2022.43                    2022.44                        2022.45  \
0  Production (Ton)  Tomatoes(Field):Area (ha)  per 10a output (Kilo_Grammes)
1            378808                          0                              0
2                42                          0                              0
3             34097                          0                              0
4              2409                          0                              0

            2022.46                         2022.47  \
0  Production (Ton)  Tomatoes(Greenhouse):Area (ha)
1                 0                            6111
2                 0                               9
3                 0                             563
4                 0                              43

                         2022.48           2022.49
0  per 10a output (Kilo_Grammes)  Production (Ton)
1                           6199            378808
2                            450                42
3                           6054             34097
4                           5577              2409

[5 rows x 301 columns]
   By province             2017            2017.1          2017.2  \
0  By province  Total:Area (ha)  Production (Ton)  Rice:Area (ha)
1        Total           919593           4465983          754713
2        Seoul              157               709             131
3        Busan             2630             13179            2383
4        Daegu             3690             17895            2970

             2017.3            2017.4            2017.5  \
0  Production (Ton)  Barley:Area (ha)  Production (Ton)
1           3972468             38379            112278
2               634                 0                 0
3             12396                 5                13
4             15831               350               975

                          2017.6            2017.7           2017.8  ...  \
0  Miscellaneous Grain:Area (ha)  Production (Ton)  Pulse:Area (ha)  ...
1                          25800             86026            58044  ...
2                              2                11                8  ...
3                             72               315               63  ...
4                             42               128              150  ...

           2022.2            2022.3            2022.4            2022.5  \
0  Rice:Area (ha)  Production (Ton)  Barley:Area (ha)  Production (Ton)
1          727054           3763700             31898            102545
2             173               864                 0                 0
3            2123             10801                 0                 1
4            2935             15512               403               814

                          2022.6            2022.7           2022.8  \
0  Miscellaneous Grain:Area (ha)  Production (Ton)  Pulse:Area (ha)
1                          27851            115075            75650
2                              5                38                8
3                             58               279               53
4                             48               171              119

             2022.9             2022.10           2022.11
0  Production (Ton)  Potatoes:Area (ha)  Production (Ton)
1            149651               41433            200625
2                12                  25               112
3                95                  88               252
4               138                  98               326

[5 rows x 73 columns]
   By province                                   2016            2016.1  \
0  By province  Spice & Culinary Vegetables:Area (ha)  Production (Ton)
1        Total                                  96586           2297762
2        Seoul                                     35               602
3        Busan                                    664             16657
4        Daegu                                    982             27886

                  2016.2            2016.3                       2016.4  \
0  Red Peppers:Area (ha)  Production (Ton)  Dried Red Peppers:Area (ha)
1                  36636            254658                        32181
2                      8                18                            8
3                     59               516                           50
4                    118               258                          118

                          2016.5            2016.6  \
0  per 10a output (Kilo_Grammes)  Production (Ton)
1                            266             85459
2                            223                18
3                            270               135
4                            219               258

                        2016.7                         2016.8  ...  \
0  Fresh Red Peppers:Area (ha)  per 10a output (Kilo_Grammes)  ...
1                         4455                           3798  ...
2                            0                              0  ...
3                            9                           4233  ...
4                            0                              0  ...

            2022.35           2022.36                        2022.37  \
0  Production (Ton)  Onions:Area (ha)  per 10a output (Kilo_Grammes)
1             15047             17661                           6770
2                 0                 1                           4257
3                22                19                           4261
4                14               360                           9610

            2022.38           2022.39                        2022.40  \
0  Production (Ton)  Ginger:Area (ha)  per 10a output (Kilo_Grammes)
1           1195563              1991                           1112
2                30                 0                           1289
3               825                 1                           1219
4             34554                 0                           1119

            2022.41           2022.42                        2022.43  \
0  Production (Ton)  Garlic:Area (ha)  per 10a output (Kilo_Grammes)
1             22137             22362                           1220
2                 3                 2                            921
3                10                27                           1203
4                 1               414                           1288

            2022.44
0  Production (Ton)
1            272759
2                20
3               326
4              5330

[5 rows x 316 columns]
   By province                                 2017            2017.1  \
0  By province  Leafy and Stem Vegetables:Area (ha)  Production (Ton)
1        Total                                47352           2880828
2        Seoul                                   24               762
3        Busan                                  262             10863
4        Daegu                                  545             22901

                      2017.2            2017.3  \
0  Chinese Cabbage:Area (ha)  Production (Ton)
1                      32416           2395686
2                          5               522
3                        110              7393
4                        280             15161

                             2017.4                         2017.5  \
0  Chinese Cabbage(Field):Area (ha)  per 10a output (Kilo_Grammes)
1                             30018                           7615
2                                 5                           9984
3                               102                           6935
4                               117                           8403

             2017.6                                   2017.7  \
0  Production (Ton)  Spring Chinese Cabbage(Field):Area (ha)
1           2286004                                    11989
2               517                                        1
3              7041                                       29
4              9854                                       33

                          2017.8  ...           2022.34  \
0  per 10a output (Kilo_Grammes)  ...  Production (Ton)
1                           4792  ...            101831
2                           4599  ...               284
3                           6106  ...              1369
4                           4453  ...               673

                    2022.35                        2022.36           2022.37  \
0  Lettuce(Field):Area (ha)  per 10a output (Kilo_Grammes)  Production (Ton)
1                       834                           1920             16012
2                         8                           2800               219
3                        48                           1856               884
4                        10                           2173               219

                         2022.38                        2022.39  \
0  Lettuce(Greenhouse):Area (ha)  per 10a output (Kilo_Grammes)
1                           3070                           2795
2                              8                            775
3                             19                           2560
4                             18                           2561

            2022.40            2022.41                        2022.42  \
0  Production (Ton)  Cabbage:Area (ha)  per 10a output (Kilo_Grammes)
1             85819               7237                           4410
2                65                  0                           4710
3               485                 44                           2908
4               454                 34                           4081

            2022.43
0  Production (Ton)
1            319123
2                 3
3              1272
4              1379

[5 rows x 265 columns]

In [80]:
for title, df in zip(title_list, filtered_list):
    print(title, df.columns, len(df))
    #spice production has an extra year. dropped it here
    if title == "spice_vegetable_production.xlsx":
        df = df.drop(['2016.1'], axis = 1)

column_names = filtered_list[0].columns
concat_df = pd.concat(filtered_list, axis = 1)
print(list(concat_df.columns))

#sum all columns in concat_df with the same name and assignt this column to corresponding name
sum_result = concat_df.groupby(level=0, axis=1).sum()
# sum_result.head()

#drop 2016 since only one df has this information and drop first row
sum_result = sum_result.drop(['2016.1'], axis = 1)

sum_result = sum_result.set_index(regions)
sum_result = sum_result.iloc[1:, :]
sum_result.index.name = 'Annual Agricultural Production (Ton)'

year = [int(x.split(".")[0]) for x in column_names]
sum_result.columns = year
sum_result.head()

fruit_production.xlsx Index(['2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1'], dtype='object') 19
fruitbearing_vegetable_production.xlsx Index(['2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1'], dtype='object') 19
grain_production.xlsx Index(['2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1'], dtype='object') 19
spice_vegetable_production.xlsx Index(['2016.1', '2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1'], dtype='object') 19
leafy_vegetable_production.xlsx Index(['2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1'], dtype='object') 19
['2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1', '2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1', '2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1', '2016.1', '2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1', '2017.1', '2018.1', '2019.1', '2020.1', '2021.1', '2022.1']

/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_50226/3324128918.py:12: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  sum_result = concat_df.groupby(level=0, axis=1).sum()

,2017,2018,2019,2020,2021,2022
Annual Agricultural Production (Ton),,,,,,
Total,13811570,13998391,13588896,12746288,13558227,13136912
Seoul,3210,2948,2731,2527,3786,3967
Busan,63624,70881,62334,63893,71196,75742
Daegu,115066,118741,116849,119233,101231,110200
Incheon,97858,97544,100913,97318,104338,96451

In [81]:
sum_result.to_csv('data/agricultural_production.csv')