In [1]:
import pandas as pd
import numpy as np
import os

In [17]:
directory = "air_data"

#loop through data folder and open each file as csv. take name from disease code
csv_list = []
xlsx_list = []
title_list_csv = []
title_list_xlsx = []
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)

    # checking if it is a file
    if os.path.isfile(f):
        title = filename.split('.')[0]
        
        if filename.split('.')[1] == "csv":
            title_list_csv.append(title)
            df = pd.read_csv(f)
            csv_list.append(df)
           
        elif filename.split('.')[1] == "xlsx":
            df = pd.read_excel(f)
            title_list_xlsx.append(title)
            xlsx_list.append(df)
        #print(title[:4])

/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [19]:
print(title_list_csv)
print(title_list_xlsx)
#print(csv_list)

['no2', 'co', 'pm10']
['sox', 'ozone']

In [28]:
ozone_df = pd.read_excel('air_data/ozone.xlsx')

/Users/seohyeonlee/p-ollution/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [32]:
ozone_df['Classification(1)']

0                                     Total
1                                     Seoul
2                                     Busan
3                                     Daegu
4                                   Incheon
                       ...
167                                     NaN
168                                     NaN
169    Jeju Special Self-governing Province
170                                     NaN
171                                     NaN
Name: Classification(1), Length: 172, dtype: object

In [38]:
ozone_df['Classification(1)'].ffill(inplace=True)

filtered_df = ozone_df[(ozone_df['Classification(1)'] == ozone_df['Classification(2)']) | ozone_df['Classification(2)'].str.contains('Average')]
filtered_df.drop(["Classification(2)"], axis = 1, inplace=True)
filtered_df.rename(columns = {"Classification(1)":"region"}, inplace = True)
filtered_df['region'] = filtered_df['region'].map(lambda x: x.replace("Sejong-si", "Sejong").replace("Jeju Special Self-governing Province", "Jeju"))

/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_85842/335995893.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(["Classification(2)"], axis = 1, inplace=True)
/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_85842/335995893.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.rename(columns = {"Classification(1)":"region"}, inplace = True)
/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_85842/335995893.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['region'] = filtered_df['region'].map(lambda x: x.replace("Sejong-si", "Sejong").replace("Jeju Special Self-governing Province", "Jeju"))

In [39]:
filtered_df

,region,2017.01,2017.02,2017.03,2017.04,2017.05,2017.06,2017.07,2017.08,2017.09,...,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11,2022.12
1,Seoul,0.035,0.018,0.038,0.035,0.039,0.041,0.03,0.024,0.027,...,0.028,0.043,0.049,0.036,0.037,0.03,0.031,0.023,0.018,0.015
2,Busan,0.024,0.031,0.022,0.042,0.044,0.041,0.028,0.027,0.033,...,0.037,0.041,0.05,0.034,0.031,0.03,0.034,0.032,0.027,0.022
3,Daegu,0.028,0.024,0.024,0.04,0.044,0.047,0.031,0.028,0.029*,...,0.036,0.044,0.055,0.041,0.035,0.028,0.029,0.027,0.02,0.018
4,Incheon,0.027,0.023,0.03,0.035,0.038,0.037,0.028,0.025,0.03,...,0.03,0.041,0.048,0.036,0.038,0.032,0.035,0.027,0.022,0.019
5,Gwangju,0.023,0.029,0.025,0.041,0.042,0.044,0.031,0.03,0.033,...,0.037,0.042,0.05,0.04,0.036,0.029,0.031,0.03,0.024,0.021
6,Daejeon,0.024,0.023,0.021,0.043,0.047,0.05,0.03,0.025,0.03,...,0.032,0.042,0.05,0.041,0.035,0.027,0.028,0.023,0.018,0.015
7,Ulsan,0.024,0.028,0.025,0.042,0.041,0.039,0.031,0.027,0.032,...,0.039,0.043,0.051,0.035,0.03,0.031,0.034,0.032,0.029,0.025
8,Sejong,0.027,0.025,0.024,0.042,0.047,0.052,0.033,0.027,0.027,...,0.036,0.047,0.054,0.044,0.035,0.026,0.029,0.023,0.018,0.016
40,Gyeonggi,0.033,0.019,0.034,0.035,0.039,0.041,0.03,0.025,0.026,...,0.029,0.043,0.049,0.038,0.036,0.03,0.03,0.022,0.018,0.015
59,Gangwon,0.022,0.024,0.019,0.041,0.047,0.047,0.032,0.022,0.027*,...,0.037,0.049,0.054,0.04,0.029,0.028,0.026,0.023,0.024,0.022
71,Chungbuk,0.027,0.021,0.025,0.041,0.045,0.049,0.03,0.025,0.027,...,0.032,0.043,0.051,0.041,0.033,0.026,0.027,0.023,0.02,0.016
87,Chungnam,0.023,0.025,0.022,0.04,0.044,0.045,0.035,0.031,0.037,...,0.037,0.047,0.055,0.043,0.04,0.034,0.036,0.03,0.026,0.022
102,Jeonbuk,0.02,0.03,0.019,0.046,0.049,0.05,0.035,0.033,0.036,...,0.037,0.044,0.052,0.04,0.036,0.028,0.031,0.029,0.026,0.022
125,Jeonnam,0.016,0.029,0.019,0.041,0.041,0.039,0.028,0.032,0.037,...,0.039,0.043,0.051,0.037,0.035,0.028,0.032,0.033,0.029,0.026
149,Gyeongbuk,0.019,0.03,0.018,0.047,0.052,0.049,0.03,0.024,0.03,...,0.037,0.044,0.053,0.039,0.033,0.028,0.028,0.027,0.025,0.024
168,Gyeongnam,0.023,0.03,0.023,0.046,0.049,0.048,0.034,0.033,0.036,...,0.038,0.043,0.053,0.038,0.036,0.03,0.032,0.031,0.027,0.023
171,Jeju,0.013,0.04,0.014,0.055,0.054,0.044,0.026,0.030*,0.047,...,0.049,0.048,0.052,0.038,0.036,0.032,0.04,0.042,0.042,0.037

In [40]:
#filtered_df = filtered_df.set_index('region')
final = filtered_df.transpose()
final.to_csv('data/ozone.csv')