In [9]:
import pandas as pd
import json

In [2]:
air2022 = pd.read_csv('/Users/seohyeonlee/p-ollution/rawdata/AIR_HOUR_2022.csv')
air2022.head()

         측정일시  측정소 코드  측정항목     평균값  측정기 상태  국가 기준초과 구분  지자체 기준초과 구분
0  2022010100     101     1   0.003       0           0            0
1  2022010100     101     3   0.016       0           0            0
2  2022010100     101     5   0.400       0           0            0
3  2022010100     101     6   0.026       0           0            0
4  2022010100     101     8  23.000       0           0            0

In [14]:
# measureCenter = pd.read_json('/Users/seohyeonlee/p-ollution/rawdata/seoul_data/서울시 대기오염 측정소 정보.json')
data = json.load(open('/Users/seohyeonlee/p-ollution/rawdata/seoul_data/서울시 대기오염 측정소 정보.json'))
measurement_loc = pd.DataFrame(data['DATA'])
measurement_loc.head()

,display_no,loc_addrress,loc_name,loc_official,loc_code
0,1,"서울 종로구 종로35가길 19 종로5,6가 동 주민센터",종로구,111123,101
1,2,서울 중구 덕수궁길 15 시청서소문별관 3동,중구,111121,102
2,3,서울 용산구 한남대로 136 서울특별시중부기술교육원,용산구,111131,103
3,4,서울 은평구 진흥로 215 (한국환경산업기술원 온실동2층 ),은평구,111181,104
4,5,서울 서대문구 세검정로4길 32(홍제3동 주민센터),서대문구,111191,105

In [20]:
#geocode korean addresses
#loc_code  = "측정소 코드"p
pollutant_data = json.load(open('/Users/seohyeonlee/p-ollution/rawdata/seoul_data/서울시 대기오염 측정항목 정보.json'))
pollutants = pd.DataFrame(pollutant_data['DATA'])
pollutants.head()

# col_idx = pollutant_data['DESCRIPTION']
# print(col_idx)

#create conversion dict between item_code and

,item_alarm_red,display_no,item_comm_symbol,item_display_main,item_code,item_short_name,item_alarm_blue,item_decimal,item_alarm_green,use_yn,item_unit,item_alarm_yellow
0,1.0,10,SO2,Y,1,SO2,0.02,4,0.05,Y,ppm,0.15
1,2.0,6,NO2,Y,3,NO2,0.03,4,0.06,Y,ppm,0.20
2,50.0,8,COb,Y,5,CO,2.00,2,9.00,Y,ppm,15.00
3,0.5,9,O3b,Y,6,O3,0.03,4,0.09,Y,ppm,0.15
4,600.0,2,PMb,Y,8,PM10,30.00,0,80.00,Y,㎍/㎥,150.00